<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>NOTIFICATION Page</h1>

<p>this is the notification page!</p>

<p><a href="/notifications/findAll">findAll</a></p>

<form th:action="@{/notifications/findById}">
    <label> findById  </label>
    <input type="text" th:name="id"/>
    <input type="submit"/>
</form>

<br>

<form th:action="@{/notifications/findByUserId}">
    <label> findByUserId  </label>
    <input type="text" th:name="userId"/>
    <input type="submit"/>
</form>

<br>

<form th:action="@{/notifications/update}">
    <label> updateById  </label>
    <input type="text" th:name="messageId"/>
    <input type="submit"/>
</form>

<br>

<form th:action="@{/notifications/add}">
    <label> addByUserId  </label>
    <input type="text" th:name="userId"/>
    <input type="submit"/>
</form>

<p><a href="/">back</a></p>

</body>
</html>