<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link th:href="@{/styles/seeYouInChurch.css}" rel="stylesheet"/>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">See you in Church!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="home.html">HOME</a></li>
                <li><a href="users.html">MEMBERS</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">GROUPS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="myGroups.html">MY GROUPS</a></li>
                        <li><a href="joinGroups.html">JOIN GROUPS</a></li>
                        <li><a href="addGroups.html">CREATE GROUPS</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">EVENTS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="privateEvent.html">PRIVATE EVENTS CALENDAR</a></li>
                        <li><a href="publicEvent.html">PUBLIC EVENTS CALENDAR</a></li>
                        <li><a href="eventList.html">EVENT LIST</a></li>
                        <li><a href="addPrivateEvent.html">CREATE PRIVATE EVENT</a></li>
                        <li><a href="addPublicEvent.html">CREATE PUBLIC EVENT</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#user">USER
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="userMenu_Notifications"><a href="notifications.html">Notifications</a><span
                                class="badge">3</span></li>
                        <li id="userMenu_LogIn"><a href="login.html">Login</a></li>
                        <li id="userMenu_LogOut"><a href="logout.html">Logout</a></li>
                        <li id="userMenu_Register"><a href="register.html">Sign-up</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- Container (The groups Section) -->
<div id="groups" class="container text-center">
    <h5>THE CHURCH: GROUPS</h5>
    <h3>TINERI "GROUP NAME"</h3>
    <hr>
    <h3>Group description</h3>
    <textarea class="form-control DescriptionAboutGroup" rows="3" placeholder="XBla bla bla bla blaaaa"></textarea>

    <form action="/updateDescription">
        <input type="submit" value="Update description" class="btn btn-secondary updateDescriptionAboutGroupButton"/>
    </form>
    <hr>
    <div class="">
        <h3>Members</h3>
        <p>Total number of this groups' members is 34</p>


        <a href="#groupMembers" data-toggle="collapse">
            <p class="text-center">Check our members</p>
        </a>
        <div id="groupMembers" class="collapse">
            <p>IIon Andreica</p>
            <p>IIon Andreica</p>
            <p>IIon Andreica</p>
            <p>Ion Andreica Toni Mihai Cerna</p>

        </div>

    </div>
    <hr>
    <div class="">
        <h3>Events</h3>
        <p>You can check this groups' <a href="privateEvent.html" class="tooltip-test" title="Check this link">Private
            Events</a> and the <a href="publicEvent.html" class="tooltip-test" title="Check this link">Public Events</a>
            from these links.</p>
    </div>

</div>


<script>
$('.updateDescriptionAboutGroupButton').on('click', function () {
   var $this = $(this); 
   var description = $('.DescriptionAboutGroup').val();
   if(description.length >= 3){
     alert("The description has been updated with \n" + description);
   }
})


</script>


</body>
</html>
