<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link th:href="@{/styles/seeYouInChurch.css}" rel="stylesheet"/>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">See you in Church!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/home">HOME</a></li>
                <li><a href="/users">MEMBERS</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">GROUPS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/myGroups">MY GROUPS</a></li>
                        <li><a href="/joinGroups">JOIN GROUPS</a></li>
                        <li><a href="/addGroups">CREATE GROUPS</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">EVENTS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/privateEvents">PRIVATE EVENTS CALENDAR</a></li>
                        <li><a href="/publicEvents">PUBLIC EVENTS CALENDAR</a></li>
                        <li><a href="/eventList">EVENT LIST</a></li>
                        <li><a href="/addPrivateEvent">CREATE PRIVATE EVENT</a></li>
                        <li><a href="/addPublicEvent">CREATE PUBLIC EVENT</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#user">USER
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="userMenu_Notifications"><a href="/notifications">Notifications</a><span
                                class="badge"  th:text="${unreadNotifications}"></span></li>
                        <li id="userMenu_LogOut"><a href="/logout">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div id="groups" class="container text-center">
    <h5>SeeYouInChurch: ANNOUNCEMENTS</h5>
    <h3>Create announcement</h3>
    <hr>

    <form method="POST" th:action="@{/addAnnouncement}" th:object="${announcementDTO}">
        <div class="form-group">
            <label for="announcement-message" class="col-form-label">Announcement message:</label>
            <textarea class="form-control announcement-message" id="announcement-message" rows="5" placeholder=""
                      th:field="*{message}" required></textarea>
        </div>
        <input type="submit" value="Create announcement" class="btn btn-black modalAddAnnouncementButton"/>
    </form>

</div>

<script>

</script>

</body>
</html>
