<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link th:href="@{/styles/seeYouInChurch.css}" rel="stylesheet"/>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">See you in Church!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="home.html">HOME</a></li>
                <li><a href="users.html">MEMBERS</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">GROUPS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="myGroups.html">MY GROUPS</a></li>
                        <li><a href="joinGroups.html">JOIN GROUPS</a></li>
                        <li><a href="addGroups.html">CREATE GROUPS</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">EVENTS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="privateEvent.html">PRIVATE EVENTS CALENDAR</a></li>
                        <li><a href="publicEvent.html">PUBLIC EVENTS CALENDAR</a></li>
                        <li><a href="eventList.html">EVENT LIST</a></li>
                        <li><a href="addPrivateEvent.html">CREATE PRIVATE EVENT</a></li>
                        <li><a href="addPublicEvent.html">CREATE PUBLIC EVENT</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#user">USER
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="userMenu_Notifications"><a href="notifications.html">Notifications</a><span
                                class="badge">3</span></li>
                        <li id="userMenu_LogOut"><a href="logout.html">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- Container (The groups Section) -->
<div id="groups" class="container text-center">
    <h5>THE CHURCH: GROUPS</h5>
    <h3>Create groups</h3>
    <hr>

    <form class="">
        <div class="form-group">
            <label for="group-name" class="col-form-label">Group name:</label>
            <input type="text" class="form-control" id="group-name" required>
        </div>
        <div class="form-group">
            <label for="group-description" class="col-form-label">Group description:</label>
            <textarea class="form-control" id="group-description" required></textarea>
        </div>
        <form action="/updateDescription">
            <input type="submit" value="Create group" class="btn btn-secondary createGroup"/>
        </form>
    </form>

</div>


<script>

$('.createGroup').on('click', function () {
   var groupName = $('#group-name').val();     
   var groupDescription = $('#group-description').val();  

   if(groupName.length >= 3 && groupDescription.length >= 3) {
      alert("New group created! \n");
	  $('#group-name').val('');
	  $('#group-description').val('');
	  $('#modalAddGroup').modal('toggle');
   }
})



</script>


</body>
</html>
