<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link th:href="@{/styles/seeYouInChurch.css}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/datetimepicker-master/jquery.datetimepicker.css}">
    <script th:src="@{/assets/datetimepicker-master/jquery.js}"></script>
    <script th:src="@{/assets/datetimepicker-master/build/jquery.datetimepicker.full.min.js}"></script>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">See you in Church!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/home">HOME</a></li>
                <li><a href="/users">MEMBERS</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">GROUPS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/myGroups">MY GROUPS</a></li>
                        <li><a href="/joinGroups">JOIN GROUPS</a></li>
                        <li><a href="/addGroups">CREATE GROUPS</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">EVENTS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/privateEvent">PRIVATE EVENTS CALENDAR</a></li>
                        <li><a href="/publicEvent">PUBLIC EVENTS CALENDAR</a></li>
                        <li><a href="/eventList">EVENT LIST</a></li>
                        <li><a href="/addPrivateEvent">CREATE PRIVATE EVENT</a></li>
                        <li><a href="/addPublicEvent">CREATE PUBLIC EVENT</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#user">USER
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="userMenu_Notifications"><a href="/notifications">Notifications</a><span
                                class="badge">3</span></li>
                        <li id="userMenu_LogOut"><a href="/logout">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div id="groups" class="container text-center">
    <h5>THE CHURCH: EVENTS</h5>
    <h3>Create private event</h3>
    <hr>

    <form class="">
        <div class="form-group">
            <label for="eventName" class="col-form-label">Private event name:</label>
            <textarea class="form-control" id="eventName" rows="2" placeholder="" required ></textarea>
        </div>
        <div class="form-group">
            <label for="eventLocation" class="col-form-label">Private event location:</label>
            <textarea class="form-control" id="eventLocation" required></textarea>
        </div>
        <div class="form-group">
            <label for="eventDescription" class="col-form-label">Private event description:</label>
            <textarea class="form-control" id="eventDescription" rows="5" placeholder="" required></textarea>
        </div>

        <div class="form-group">
            <label for="datetimepickerSTART" class="col-form-label">Private event start date:</label>
            <br>
            <input class="form-control" id="datetimepickerSTART" type="text" required>
        </div>

        <div class="form-group">
            <label for="datetimepickerEND" class="col-form-label">Private event end date:</label>
            <br>
            <input class="form-control" id="datetimepickerEND" type="text" required>
        </div>

        <div class="form-group">
            <label class="col-form-label">Check the groups that will attend:</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Tineri</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Familisti</label>
            </div>
        </div>


        <form action="/addprivateEvent">
            <input type="submit" value="Create private event" class="btn btn-black createPrivateEventButton"/>
        </form>
    </form>

</div>



<script>
$('form').on('submit', function () {

  $('textarea').text('');
   if(alert('Event created! \n')){}
    else    window.location.reload();

})

jQuery('#datetimepickerSTART').datetimepicker();
jQuery('#datetimepickerEND').datetimepicker();

</script>



</body>
</html>