<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link th:href="@{/styles/seeYouInChurch.css}" rel="stylesheet"/>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">See you in Church!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="home.html">HOME</a></li>
                <li><a href="users.html">MEMBERS</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">GROUPS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="myGroups.html">MY GROUPS</a></li>
                        <li><a href="joinGroups.html">JOIN GROUPS</a></li>
                        <li><a href="addGroups.html">CREATE GROUPS</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">EVENTS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="privateEvent.html">PRIVATE EVENTS CALENDAR</a></li>
                        <li><a href="publicEvent.html">PUBLIC EVENTS CALENDAR</a></li>
                        <li><a href="eventList.html">EVENT LIST</a></li>
                        <li><a href="addPrivateEvent.html">CREATE PRIVATE EVENT</a></li>
                        <li><a href="addPublicEvent.html">CREATE PUBLIC EVENT</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#user">USER
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="userMenu_Notifications"><a href="notifications.html">Notifications</a><span
                                class="badge">3</span></li>
                        <li id="userMenu_LogIn"><a href="login.html">Login</a></li>
                        <li id="userMenu_LogOut"><a href="logout.html">Logout</a></li>
                        <li id="userMenu_Register"><a href="register.html">Sign-up</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div id="addEvents" class="container">
    <h1 class="text-center">Events</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#publicEvents">Public Events</a></li>
        <li><a data-toggle="tab" href="#privateEvents">Private Events</a></li>
    </ul>

    <div class="tab-content">
        <div id="publicEvents" class="tab-pane fade in active">

            <form action="addPublicEvent.html">
                <input type="submit" value="+" class="btn btn-round" id="buttonAddPublicEvent"/>
            </form>

            <ul>
                <li>
                    <h2>Discutii in biserica cu tinerii familisti</h2>
                    <p>From "start_date" to "end_date"</p>
                    <p>Room number: 2, having the max capacity of 75 people.</p>
                    <p>Invited groups: "Tineri", "Familisti"</p>
                </li>
            </ul>

        </div>

        <div id="privateEvents" class="tab-pane fade">

            <form action="addPrivateEvent.html">
                <input type="submit" value="+" class="btn btn-round" id="buttonAddPrivateEvent"/>
            </form>

            <ul>
                <li>
                    <h2>Excursie pe munte</h2>
                    <p>From "start_date" to "end_date"</p>
                    <p>Location: Piatra Craiului</p>
                    <p>Details: Un weekend de neuitat la muntii Piatra Craiului.</p>
                    <p>Invited groups: "Tineri", "Familisti"</p>
                </li>
            </ul>


        </div>


    </div>
</div>


<script>
</script>

</body>
</html>
