<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link th:href="@{/assets/calendar/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/assets/calendar/src/calendarjs.css}" rel="stylesheet"/>
    <script th:src="@{/assets/calendar/src/calendarjs.js}"></script>
    <link th:href="@{/styles/seeYouInChurch.css}" rel="stylesheet"/>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" style="background-color:#2d2d30;">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">See you in Church!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/home">HOME</a></li>
                <li><a href="/users">MEMBERS</a></li>
                <li><a href="/groups">GROUPS</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">EVENTS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/privateEvent">PRIVATE EVENTS</a></li>
                        <li><a href="/publicEvent">PUBLIC EVENTS</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#user">USER
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="userMenu_Notifications"><a href="/notifications">Notifications</a><span
                                class="badge">3</span></li>
                        <li id="userMenu_LogIn"><a href="/login">Login</a></li>
                        <li id="userMenu_LogOut"><a href="/logout">Logout</a></li>
                        <li id="userMenu_Register"><a href="/register">Sign-up</a></li>
                    </ul>
            </ul>
        </div>
    </div>
</nav>


<!-- Container (groups Section) -->
<br>
<br>
<div id="events" class="bg-1">
    <div class="">
        <br>
        <h3 class="text-center">THE CHURCH: PRIVATE EVENTS</h3>
        <p class="text-center">Here are our private events. You can book an event here!</p>

        <div class="contents">
            <div id="myCalendar">
            </div>
        </div>
        <br>

        <script>
        var calendarInstance = new calendarJs( "myCalendar", {
            exportEventsEnabled: true,
            manualEditingEnabled: true, //IL SCHIMBAM PE "true" CAND USERUL SE LOGHEAZA SI ARE PRIVILEGII DE ADMIN CA SA POATA EDITA EVENTS
            showTimesInMainCalendarEvents: true,
            visibleDays: [ 0, 1, 2, 3, 4, 5, 6 ],
			fullScreenModeEnabled: true,
            showExtraToolbarButtons: true,
			hideEventsWithoutGroupAssigned: false,
        } );

        calendarInstance.addEvents( getEvents() );

        function getEvents() {

            return [
                {
                    from: "June 21, 2022 23:15:30",
                    to: "June 22, 2022 23:45:30",
                    title: "Intalnire cu tinerii",
                    description: "ACEASTA ESTE O DESCRIERE",
                    location: "Room 1",
                    group: "Tineri"
	            //  color: "#FF0000",
                //  colorText: "#FFFF00",
                //  colorBorder: "#00FF00"
                },
                {
                    from: "June 26, 2022 23:15:30",
                    to: "June 26, 2022 23:45:30",
                    title: "Slujba de duminica",
                    description: "ACEASTA ESTE O DESCRIERE",
					repeatEvery:2
                },

				//repeatEver: How often the event should repeat (0 = Never, 1 = Every Day, 2 = Every Week, 3 = Every Month, 4 = Every Year)

            ];


        }

		$('.checkbox:contains("Is All-Day")').remove();
		$('.checkbox:contains("Show Alerts")').remove();
		$('.tab-control:contains("Repeats")').remove();
		$('.select-colors').remove();
		$('.tab-control:contains("Optional")').text('Details');


        </script>


    </div>
</div>

</body>
</html>
