<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link th:href="@{/styles/seeYouInChurch.css}" rel="stylesheet"/>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">See you in Church!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/home">HOME</a></li>
                <li><a href="/users">MEMBERS</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">GROUPS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/myGroups">MY GROUPS</a></li>
                        <li><a href="/joinGroups">JOIN GROUPS</a></li>
                        <li><a href="/addGroups">CREATE GROUPS</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">EVENTS
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/privateEvent">PRIVATE EVENTS CALENDAR</a></li>
                        <li><a href="/publicEvent">PUBLIC EVENTS CALENDAR</a></li>
                        <li><a href="/eventList">EVENT LIST</a></li>
                        <li><a href="/addPrivateEvent">CREATE PRIVATE EVENT</a></li>
                        <li><a href="/addPublicEvent">CREATE PUBLIC EVENT</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#user">USER
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="userMenu_Notifications"><a href="/notifications">Notifications</a><span
                                class="badge">3</span></li>
                        <li id="userMenu_LogOut"><a href="/logout">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- Container (The members Section) -->
<div id="users" class="container text-center">
    <h3>THE CHURCH: MEMBERS</h3>
    <p><em>Here you can see all our members from our Church.</em></p>
    <br>
    <div class="row">

        <div th:each="user: ${users}" class="col-sm-4">
            <p class="text-center"><strong th:text="${user.name + ' ' + user.surname}" ></strong></p><br>
            <a th:href="${'#' + user.id}" data-toggle="collapse">
                <img th:src="@{/assets/img/user_image.jpeg}" class="img-circle person" alt="${user.name + ' ' + user.surname}" width="255"
                     height="255">
            </a>
            <div th:id="${user.id}" class="collapse">
                <p th:text="${user.userType}"></p>
                <p th:text="${user.departments}"></p>
                <p th:text="${user.email}"></p>
                <p th:text="${user.phoneNumber}"></p>
                <p th:text="${user.address}"></p>
            </div>
        </div>

    </div>
</div>

</body>
</html>
